In [1]:
import pandas as pd
path_train = pd.read_csv("training.csv")

In [2]:
path_train

       zoneId  stationId  serviceId  plugId   date         time  status
0           4          1          2       0  41501  1658.250000       4
1           4          4          2       1  41501  1658.708333       1
2           4          4          2       0  41501  1658.708333       1
3           4          4          1       1  41501  2526.416667       2
4           4          4          1       0  41501  2526.416667       2
5           4          4          1       1  41501  2527.041667       3
6           4          4          1       0  41501  2527.041667       3
7           4          1          1       1  41501  2549.916667       4
8           4          1          1       0  41501  2549.916667       4
9           4          4          1       1  41501  2550.791667       1
10          4          4          1       0  41501  2550.791667       1
11          4          4          2       1  41501  2563.750000       2
12          4          4          2       0  41501  2563.750000       2
13          4          4          2       1  41501  2564.958333       3
14          4          4          2       0  41501  2564.958333       3
15          4          1          2       1  41501  2584.916667       4
16          4          1          2       0  41501  2584.916667       4
17          4          4          2       1  41501  2586.166667       1
18          4          4          2       0  41501  2586.166667       1
19          4          4          2       1  41502  1376.791667       2
20          4          4          2       0  41502  1376.791667       2
21          4          4          2       1  41502  1377.916667       3
22          4          4          2       0  41502  1377.916667       3
23          4          1          2       1  41502  1406.791667       4
24          4          1          2       0  41502  1406.791667       4
25          4          4          2       1  41502  1407.333333       1
26          4          4          2       0  41502  1407.333333       1
27          4          4          0       0  41502  1393.000000       2
28          4          0          0       0  41502  1393.000000       2
29          4          4          1       1  41502  1393.000000       2
...       ...        ...        ...     ...    ...          ...     ...
39059       4          4          2       1  41843   914.041667       3
39060       4          4          2       0  41843   914.041667       3
39061       4          1          2       1  41843  1141.041667       4
39062       4          1          2       0  41843  1141.041667       4
39063       4          4          2       1  41843  1141.541667       1
39064       4          4          2       0  41843  1141.541667       1
39065       4          4          2       1  41843  1144.375000       2
39066       4          4          2       0  41843  1144.375000       2
39067       4          4          2       1  41843  1145.166667       3
39068       4          4          2       0  41843  1145.166667       3
39069       4          1          2       1  41843  1220.916667       4
39070       4          1          2       0  41843  1220.916667       4
39071       4          4          2       1  41843  1221.583333       1
39072       4          4          2       0  41843  1221.583333       1
39073       4          4          1       1  41843  1225.541667       2
39074       4          4          1       0  41843  1225.541667       2
39075       4          4          1       1  41843  1226.250000       3
39076       4          4          1       0  41843  1226.250000       3
39077       4          1          1       1  41843  1227.208333       4
39078       4          1          1       0  41843  1227.208333       4
39079       4          4          1       1  41843  1228.250000       1
39080       4          4          1       0  41843  1228.250000       1
39081       4          4          1       1  41843  1389.208333       2
39082       4          4          1       0  41843  1389.208333       2
39083       4          4          1       1  41843  1390.000000       3
39084       4          4          1       0  41843  1390.000000       3
39085       4          1          1       1  41843  1415.166667       4
39086       4          1          1       0  41843  1415.166667       4
39087       4          4          1       1  41843  1416.041667       1
39088       4          4          1       0  41843  1416.041667       1

[39089 rows x 7 columns]

In [3]:
"""TRAINING THE MODEL"""

import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# Importing the dataset
path_train = "data/plugtoplay/training.csv"
data_train = pd.read_csv(path_train)

# Target Matrix
y_train = data_train.status

# Feature Matrix
model_predictors = ['zoneId','stationId','serviceId','plugId','date','time']
X_train = data_train[model_predictors]

#Training thr model
regressor_forest = RandomForestRegressor(n_estimators = 70, random_state = 0, min_samples_leaf = 3,
                                    max_features = 'auto')
regressor_forest.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=3, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=70, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [4]:
"""TESTING OF MODEL"""

#Import dataset
path_test = 'data/plugtoplay/test.csv'
data_test = pd.read_csv(path_test)

#Feature Matrix
model_predictors = ['zoneId','stationId','serviceId','plugId','date','time']
X_test = data_test[model_predictors]

#Prediction
y_pred = regressor_forest.predict(X_test)
print(y_pred)

[2.31120748 2.30552721 1.817735   ... 1.88824418 1.81824212 4.        ]

In [10]:
my_submission = pd.DataFrame({"zoneId": data_test.zoneId, "status": y_pred})

In [12]:
my_submission

        status  zoneId
0     2.311207       4
1     2.305527       4
2     1.817735       4
3     1.798109       4
4     4.000000       4
5     4.000000       4
6     2.271634       4
7     2.237849       4
8     1.841955       4
9     1.822539       4
10    1.841955       4
11    1.822539       4
12    4.000000       4
13    4.000000       4
14    1.821134       4
15    1.792222       4
16    1.717540       4
17    1.723062       4
18    1.720261       4
19    1.712926       4
20    4.000000       4
21    4.000000       4
22    1.977254       4
23    1.947798       4
24    1.474928       4
25    1.459554       4
26    1.561118       4
27    1.535030       4
28    4.000000       4
29    4.000000       4
...        ...     ...
4309  1.928324       4
4310  1.347318       4
4311  1.330968       4
4312  1.321921       4
4313  1.305572       4
4314  4.000000       4
4315  4.000000       4
4316  1.411649       4
4317  1.383701       4
4318  1.517827       4
4319  1.477521       4
4320  1.499970       4
4321  1.448950       4
4322  4.000000       4
4323  4.000000       4
4324  1.904483       4
4325  1.876394       4
4326  1.269603       4
4327  1.246661       4
4328  1.322347       4
4329  1.294048       4
4330  4.000000       4
4331  4.000000       4
4332  1.768413       4
4333  1.724919       4
4334  1.959984       4
4335  1.887601       4
4336  1.888244       4
4337  1.818242       4
4338  4.000000       4

[4339 rows x 2 columns]

In [11]:
my_submission.to_csv('submit_me.csv', index=False)